@typeparam TItem
@typeparam TValue
<a class="dropdown-item" Item="@Item" Value="@Value" @onclick="OnOption">
    <img src="@Icon" height="14" class="mr-1" />
    @Value
</a>

@code {
    private bool stopPropagation = false;
    [CascadingParameter] public Select<TItem, TValue> Select { get; set; }

    [Parameter] public int Id { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public string Icon { get; set; }

    [Parameter] public TItem Item { get; set; }
    [Parameter] public TValue Value { get; set; }
    [Parameter] public RenderFragment<TItem> ChildContent{ get; set; }


    public void OnOption() => Select.HandleSelect(Item, Value, Icon);
}
