@page "/scroll"
@using BlazorSamples.Components.Scroll

<ScrollIndicator>
    <h1>Scroll Progress Bar</h1>
    <p>
        Cake icing danish caramels chocolate muffin. Muffin halvah halvah chocolate cake wafer ice cream lemon drops
        croissant cake. Liquorice cheesecake tiramisu sweet roll fruitcake biscuit cheesecake jujubes icing. Danish
        jelly-o donut lollipop. Marzipan candy jelly gummi bears. Chupa chups toffee toffee marzipan pie jujubes
        cotton
        candy cheesecake. Tootsie roll jelly beans sweet dessert. Donut jelly croissant sugar plum cake. Cupcake
        marshmallow pastry brownie. Dragée soufflé macaroon sweet roll pudding croissant marshmallow marzipan candy.
        Croissant pudding cheesecake. Chupa chups liquorice jelly-o candy canes bonbon pie cookie chocolate bar.
        Jelly
        beans sugar plum ice cream wafer gingerbread cheesecake oat cake dragée tart.
    </p>
    <p>
        Bonbon macaroon gummies candy canes cupcake icing sweet. Tootsie roll pie danish cake. Jelly-o jelly-o
        cheesecake
        chocolate cake brownie bear claw. Tart bonbon sweet lemon drops tiramisu icing gingerbread sweet. Cake tart
        bear
        claw sugar plum jujubes chocolate cake powder. Brownie liquorice ice cream topping cake pie chupa chups
        biscuit.
        Chocolate bar halvah sweet chocolate cake carrot cake dragée bear claw. Chocolate marzipan chupa chups
        macaroon.
        Gummies candy chocolate bar sweet donut. Cookie chupa chups sugar plum wafer sugar plum sesame snaps
        biscuit.
        Topping apple pie toffee toffee jelly beans chocolate. Ice cream fruitcake tiramisu. Caramels pudding
        dessert
        croissant jujubes tootsie roll. Marzipan jelly-o caramels dragée caramels carrot cake powder candy biscuit.
    </p>
    <p>
        Tiramisu icing chocolate cake jelly sweet roll dragée tart croissant sesame snaps. Cake donut cupcake.
        Gingerbread topping fruitcake powder apple pie sesame snaps cookie caramels donut. Ice cream macaroon pie
        oat
        cake jelly beans jelly muffin. Fruitcake liquorice pastry croissant sweet roll danish jelly-o. Halvah toffee
        ice
        cream pudding powder cotton candy pastry. Bonbon fruitcake liquorice liquorice lemon drops jelly. Cookie
        cake
        pastry brownie bear claw sesame snaps. Jujubes cookie cake cheesecake. Pudding gummi bears chocolate bar
        chupa
        chups jujubes donut biscuit jelly. Chocolate bar liquorice pastry macaroon chocolate bar pastry. Sesame
        snaps
        lemon drops liquorice jelly-o. Apple pie croissant pie jelly beans bear claw ice cream macaroon candy
        jujubes.
    </p>
    <p>
        Jelly-o liquorice tart gingerbread marshmallow fruitcake toffee. Tootsie roll halvah fruitcake tart gummies
        cake
        icing dragée bear claw. Candy canes bear claw tiramisu toffee lollipop sugar plum fruitcake. Lollipop
        marzipan
        cake pudding soufflé tiramisu icing tiramisu icing. Chocolate bonbon apple pie liquorice apple pie. Lemon
        drops
        marshmallow fruitcake biscuit cheesecake sweet roll toffee. Icing pudding fruitcake sesame snaps. Apple pie
        halvah chocolate bar jelly-o cupcake caramels jelly beans jujubes. Gummi bears cotton candy sweet roll
        fruitcake
        halvah. Cupcake chocolate bar candy lollipop chupa chups. Fruitcake sesame snaps sesame snaps chocolate.
        Sesame
        snaps jelly beans biscuit. Chocolate gingerbread gummies gingerbread topping fruitcake jujubes bonbon ice
        cream.
        Jujubes pastry danish.
    </p>
    <p>
        Pie lollipop lollipop lollipop sugar plum halvah bear claw gummies cake. Donut marzipan liquorice fruitcake
        chocolate cake. Cheesecake chupa chups jelly sesame snaps. Jujubes powder gummies. Oat cake brownie
        liquorice
        cheesecake dessert cake chocolate bar. Caramels powder cake sugar plum. Dessert liquorice candy. Marzipan
        caramels caramels cotton candy. Powder icing cupcake gummies jujubes lemon drops. Chupa chups gummi bears
        liquorice gingerbread. Gummies sugar plum cake. Carrot cake pudding biscuit sweet roll jelly beans gummies.
        Jelly-o chupa chups toffee toffee dessert.
    </p>
    <p>
        Brownie cookie gummi bears chupa chups pudding. Bonbon macaroon croissant apple pie sugar plum sweet roll
        chocolate. Cupcake bonbon sweet roll gummi bears fruitcake liquorice caramels apple pie. Gummi bears
        macaroon
        apple pie cake lollipop powder cookie sweet roll. Donut jujubes sweet roll. Toffee cake jelly beans jelly
        beans
        cake cheesecake. Brownie cake biscuit topping muffin. Tootsie roll bonbon cotton candy oat cake caramels
        donut
        icing. Sugar plum chocolate bonbon gummi bears. Marshmallow jujubes apple pie lemon drops tart pie brownie
        gummies halvah. Macaroon candy caramels donut cake icing chocolate cupcake lollipop. Cotton candy tiramisu
        pie
        candy cotton candy. Dessert halvah tootsie roll croissant cupcake marshmallow marshmallow tiramisu. Lollipop
        gingerbread jelly beans sweet jelly-o jelly beans sweet roll.
    </p>
    <p>
        Jelly-o sweet sugar plum sugar plum jujubes icing icing gummi bears. Tiramisu bonbon toffee icing sweet tart
        bonbon. Croissant apple pie candy canes chocolate jelly beans lollipop apple pie bonbon jujubes. Jujubes
        bonbon
        pie tootsie roll icing candy canes wafer cotton candy. Dragée wafer powder candy brownie jelly caramels.
        Cotton
        candy chocolate cake jelly beans sugar plum topping topping sweet chocolate cake. Croissant pastry liquorice
        biscuit muffin gingerbread. Liquorice ice cream oat cake chocolate bar brownie croissant cupcake.
        Gingerbread
        croissant pastry fruitcake cheesecake lemon drops jujubes fruitcake powder. Sugar plum halvah oat cake.
        Tiramisu
        halvah tiramisu biscuit gingerbread sesame snaps ice cream bonbon pie. Topping muffin icing lemon drops
        donut
        cupcake fruitcake bear claw soufflé. Sweet dragée powder tart lemon drops soufflé biscuit cheesecake.
    </p>
    <p>
        Powder oat cake fruitcake lemon drops gummi bears pie. Tootsie roll marzipan dessert ice cream candy canes
        icing.
        Icing liquorice cheesecake. Dessert cake soufflé toffee topping candy canes. Toffee gingerbread icing
        liquorice
        dessert sesame snaps pie. Cheesecake dessert cookie oat cake brownie pastry tootsie roll. Sugar plum gummi
        bears
        danish candy canes croissant. Bonbon danish jelly-o jelly-o bonbon bear claw marzipan. Carrot cake dessert
        powder pastry cookie powder macaroon toffee. Pastry halvah danish dessert muffin. Marzipan pie jujubes
        candy.
        Jelly cotton candy croissant lemon drops donut. Cheesecake fruitcake powder dragée carrot cake lollipop
        macaroon
        marzipan marshmallow.
    </p>
    <p>
        Macaroon pie chupa chups sweet roll chocolate cake. Chocolate cake cotton candy cake tiramisu. Chocolate
        jujubes
        cake. Macaroon sweet roll lemon drops pudding sweet roll sweet roll pudding. Dragée carrot cake soufflé
        halvah
        dessert. Pastry jelly marshmallow ice cream carrot cake fruitcake. Marzipan cupcake toffee macaroon macaroon
        jelly beans tiramisu. Marshmallow carrot cake brownie gummies sugar plum sweet cake lollipop. Cupcake
        biscuit
        biscuit. Liquorice lemon drops macaroon. Caramels pastry topping cookie chocolate bar icing. Macaroon muffin
        macaroon halvah sesame snaps muffin. Jelly apple pie chocolate cake. Powder pie pastry jujubes sweet roll
        toffee
        croissant.
    </p>
    <p>
        Icing candy icing fruitcake topping oat cake chocolate cake. Liquorice donut jelly-o jelly beans powder. Tart
        gingerbread dessert macaroon dessert. Carrot cake gummies tootsie roll croissant jelly fruitcake tart tart.
        Apple pie tart dragée jelly beans. Pie donut tiramisu lemon drops oat cake fruitcake. Pie tart muffin
        chocolate
        bar cupcake. Carrot cake pie cotton candy chocolate cake lemon drops. Brownie gummi bears marzipan. Ice
        cream
        liquorice jujubes gummies bear claw toffee donut pie. Pudding fruitcake sweet roll toffee gummies soufflé
        icing
        lollipop marshmallow. Lemon drops lemon drops dessert lollipop candy canes.
    </p>
</ScrollIndicator>

<ScrollToTop />
